<div class="management text-center" id="new-form">
  <div class="form-group with-font" id="label">
    <%= simple_form_for [:admin, @tutorial, @page] do |f| %>
    <div class="row field">
      <p>
        عنوان این صفحه:
      </p>
      <div class="col-md-4 col-md-offset-4">
        <%= f.input :title, input_html: {class: 'form-control'}, label: false %>
      </div>
    </div>

    <div class="row field">
      <p>
        محتوای این صفحه را بنویسید.
      </p>
      <div class="col-md-10 col-md-offset-1">
        <%= f.input :content, input_html: { class: "form-control", size: "50x10" }, label: false %>
      </div>
    </div>

    <div class="row field">
      <%= f.submit 'ایجاد کن' , class: 'btn btn-info'%>
    </div>
    <% end %>
  </div>
</div>