<%= render partial: 'pages/show', locals: { page: @page, tutorial: @tutorial} %>

<div class="row with-margin">
	<div class="col-md-6 col-md-offset-3 links">
		<%= link_to 'مدیرت صفحات', admin_subject_path(@tutorial) %> |
		<%= link_to 'مدیریت آموزش‌ها', admin_subjects_path %>
	</div>
</div>