<div class="row">
    <div class="col-md-12 post">
        <div class="row">
            <div class="col-md-12">
                <h4>
                    <strong><a href="http://www.jquery2dotnet.com/2013/12/cool-share-button-effects-styles.html" class="post-title"><%= tutorial.title %></a></strong></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 post-header-line">
                    <span class="glyphicon glyphicon-user"></span>به وسیله‌ی <a href="#">پویا</a> | <span class="glyphicon glyphicon-calendar"> در تاریخ 
                </span>  <%= tutorial.created_at %>
            </span>
        </div>
    </div>
    <div class="row post-content">
        <div class="col-md-3">
            <a href="#">
                <img src="http://4.bp.blogspot.com/-_lqoNpVXeU4/UkxQ7N-QW8I/AAAAAAAACTw/pni-TZyp17o/s1600/cool+share+button+effects+styles.png" alt="" class="img-responsive">
            </a>
        </div>
        <div class="col-md-9">
            <p>
                <%= tutorial.description %>
            </p>
            <p>
                <a class="btn btn-read-more" href="http://www.jquery2dotnet.com/2013/12/cool-share-button-effects-styles.html">Read more</a></p>
            </div>
        </div>
    </div>
</div>