<div class="row">
    <div class="col-md-12 post">
        <div class="row">
            <div class="col-md-12">
                <h4>
                    <span class="with-font">موضوع: </span><strong> <%= tutorial.title %></strong>
                </h4>
            </div>
            <div class="row">
                <div class="col-md-12 post-header-line">
                    <span class="glyphicon glyphicon-user"></span>به وسیله‌ی <a href="#">پویا</a> | <span class="glyphicon glyphicon-calendar">
                </span>  <%= persian_date(tutorial.created_at) %>
            </span>
        </div>
    </div>
    <div class="row post-content">
        <div class="row">
            <div class="col-md-10">
                <span class="with-font">
                    <b>توضیح:</b>
                </span>
                <%= tutorial.description %>
            </div>
            <div class="col-md-2">
                <p class="pull-left">
                    <%= link_to 'مشاهده', subject_path(tutorial), class: 'btn btn-primary' %>
                </p>
            </div>
        </div>
    </div>
</div>