<div class="row with-font title-font text-center with-margin">
	<%= @tutorial.title %>
</div>

<% if @tutorial.pages.any? %>
<div class="with-margin row">
	<div class="col-md-6 col-md-offset-4">
		<% if @last_i == -1 %>
			<p>
				شما هنوز این آموزش را شروع نکرده‌اید.
			</p>
		<% else %>
			<% page = @tutorial.pages.order(:created_at)[@last_i] %>
			آخرین صفحه‌ای که ‌آن‌را فرا گرفتید:‌ <td> <%= link_to page.title, subject_page_path(@tutorial,page) %></td>
		<% end %>
	</div>
</div>
<% end %>

<div class="row with-font text-center with-margin">
	<% if @last_i < @tutorial.pages.size-1 %>
	<%= link_to "#{@last_i == -1 ? 'شروع' : 'ادامه'}", subject_page_path(@tutorial, @tutorial.pages.order(:created_at)[@last_i+1]), class: 'btn btn-success' %>
	<% end %>
	<br><br>
	<%= link_to 'مرکز آموزش‌ها', subjects_path, class: "btn btn-info" %>
</div>

