<div class="landing">
	<div class="row text-center title">
		خودآموز
	</div>
	<div class="row desc">
		<div class="col-md-4 col-md-offset-4 text-center">
		ما اینجا موضوعات گوناگون را در قالب آموزش‌هایی رایگان در اختیار شما قرار می‌دهیم تا بتوانید آن‌ها را به صورت انفرادی فراگیرید.
		</div>
	</div>
	<div class="row start text-center">
		<a href="/tutorials"> پایه هستم! </a> 
	</div>
</div>
