<%= render partial: 'show', locals: {page: @page, tutorial: @tutorial} %>

<div class="row with-font text-center with-margin">
<%= link_to 'صفحه‌ی اصلی موضوع', subject_path(@tutorial), class: "btn btn-info" %>
</div>